<!--linking the header.ejs file-->
<%- include("partials/header.ejs") %>

<!--for a container-->
<div class = "container mt-5"><!--container need for centering of the content so it doesn't hit left or right edges. mt-5 is margin top 5-->
    <!--inside container different grid-->
    <div class="row g-4"><!--Treat the children inside me as columns in a grid system. g-4 is gap 4-->


        <!--checking if posts is array is there or not-->
        <% if(locals.posts) { %>
        <!--we create a array and just traverse the array in index.js-->
        <% posts.forEach(locals.(post, index) => { %>
            <!--how each postcard looks in different screen size-->
        <div class="col-12 col-md-6 col-lg-4"><!--it is for the small screen 12 units(1postcard) 6 units (2postcard) 4 untis (3postcard), it will resize it self accordingly due to the bootstrap-->
            <!--how each card look-->
            <div class="card h-100 shadow-sm"><!--card(is for the border and white bg) h-100(height 100%) shadow-sm(lift off the page) -->
                
                <!--how each card body will look like, content part-->
                <div class="card-body">
                    <h5 class="card-title"><%= post.title %></h5>
                    <p class="card-text text-truncate"><%= post.content %></p><!--text-truncate is for a user who writes a long essay, it cuts off with "..." and it doesn't break our layout-->
                    <a href="/post/<%= index %>" class="btn btn-link p-0 text-decoration-none">Read Full Post</a>
                </div>

                <!--how each card footer will look like, the edit and delete option-->
                <div class="card-footer bg-transparent border-top-0 d-flex justify-content-between"><!--card-footer(a dedicated section at the bottom of the card) d-flex justify-content-betwen(display flex and justify content between means both button are inthe extreme left and right point)-->
                    <a href="/edit/<%= index %>" class="btn btn-sm btn-outline-secondary"><!--btn class for button, see in bootstrap it clearly shows it what it does-->
                        <i class="fa-solid fa-pen-to-square"></i> Edit
                    </a>

                    <form action="/delete" method="post" class="d-inline"><!--d-inline (inline element)-->
                        <input type="hidden" name="index" value="<%= index %>"><!--user doesn't see this, but when click delete it sends index.js which index is it(eg: 5) to the server so you know which post to destroy-->
                        <button type="submit" class="btn btn-sm btn-outline-danger">
                            <i class="fa-solid fa-trash"></i> Delete
                        </button>
                    </form>
                </div>
                
            </div>
        </div>
        <% }) %>
        <% } %>

        <!--add new card (+ plus button)-->
        <div class="col-12 col-md-6 col-lg-4">
            <a href="/compose" class="text-decoration-none text-muted">
                <div class="card h-100 d-flex align-items-center justify-content-center hover-shadow" id="postcardstyle">
                    <div class="text-center">
                        <i class="fa-solid fa-plus fa-3x mb-2"></i>
                        <h5 class="m-0">Create New Post</h5>
                    </div>
                </div>
            </a>
        </div>

    </div>
</div>

<!--Linking the footer.ejs file-->
<%- include("partials/footer.ejs") %>